.product-card{
    width: 300px !important;
    height: 370px !important;
    margin-top: 100px !important;
    margin-left: 300px !important;
    margin-bottom: 300px !important;
    border: none !important;
    border-radius: 10px !important;
    transition: 0.5s;
}

.product-card:hover{
    box-shadow: 0 0  20px rgba(0,0,0,0.2);
}
.product-card .card-img-top{
    width: auto !important;
    height: 180px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.product-card .card-body h6{
    font-weight: 600 !important;
    color: gray;
}

.product-card .card-body h4{
    font-weight: 900 !important;
}
.product-card .new{
    position: absolute;
    background: royalblue;
    height: 25px;
    left: 0;
    top:20px;
    font-weight: 900;
    text-align: center;
    border-radius: 0px 100px 100px 0px;
    font-size: 14px;
    width: 80px;
    color: white;
    border: 2px dotted tomato;
}
.saleBottom{
    position: absolute;
    background: tomato;
    height: 25px;
    left: 0;
    top:50px;
    font-weight: 900;
    text-align: center;
    border-radius: 0px 100px 100px 0px;
    font-size: 14px;
    width: 80px;
    border: 2px dotted green;
    color: white;
    border-left: none;
}

.saleTop{
    position: absolute;
    background: tomato;
    height: 25px;
    left: 0;
    top:20px;
    font-weight: 900;
    text-align: center;
    border-radius: 0px 100px 100px 0px;
    font-size: 14px;
    width: 80px;
    border: 2px dotted green;
    color: white;
    border-left: none;
}
.product-card .card-body button{
    width: 90% !important;
    height: 50px !important;
    font-weight: 900;
    letter-spacing: 1px !important;
    border-radius: 5px !important;
}